h1, p {
  font-family: Lato;
}

.color {
  background-color: blue;
}

.item-car {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a :hover {
  background-color: #111111;
}